* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.y-scroll-container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    transition: background-color 0.5s ease;
    border: 2px solid red; 
}

.page {
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    scroll-snap-align: start;
    outline: 3px solid green;
}

.color-blue1 {
    background-color: #caf0f8;
}

.color-blue2 {
    background-color: #90e0ef;
}

.color-blue3 {
    background-color: #00b4d8;
}